.judul {
    color: darkred;
    text-align: center;
    text-size: 20px;
}

.bg {
    background-color: #fee8f3;
    opacity: 0.8;
    background-image:  radial-gradient(#ffa7a7 0.5px, transparent 0.5px), radial-gradient(#ffa7a7 0.5px, #fee8f3 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}

.p1 {
    text-align: left;
    color: darkred;
    gap: 30px;
}

.p2 {
    text-align: center;
    color: darkred;
}

.margin {
    display: flex;
    gap: 30px;
}

.img {
    padding: 10px 10px;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin: 20px auto;
    width: 40px;
    height: 40px;
}

.image {
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    text-align: center;
    padding: 15px;
    background-color: #a83232;
    color: white;
}